

body{font-family: verdana;
	background-color: lightgray;
	text-align: center;
    	padding-top: 70px;
    }
	
h1{

	font-family: Century Gothic;

	font-size: 100px;
}	

p{
	text-align: center;
}	

.pozadi {
	width:100%;
}
	
